##       Intellij IDEA       ##

.idea/
build/
dist/
*.xml
*.iml

##          Eclipse          ##

.classpath
.project

##            JAVA           ##

*.class
*.jar

##          Floobits         ##

.flooignore
.floo